<body>
    <section id="hero" class="hero d-flex align-items-center"></section>
  
    <div style="background-image: linear-gradient(rgb(222, 222, 222), #f5f8f9)">
      <div class="seven">
        <h1 class="alert">Alerts</h1>
      </div>
      <div class="callout callout-info ms-3 me-3 mt-2 mb-10">
        <h5><i class="fas fa-info"></i> Note:</h5>
        The alert module is a powerful component of the system that ensures users stay informed about new offers tailored to their specific preferences. It functions as a sophisticated notification system that delivers timely alerts via email or SMS whenever new offers are loaded onto the platform.
    
        What sets this alert module apart is its ability to allow users to customize their alerts based on universities, countries, or regions of interest. Users can define their preferences by selecting specific universities, countries, or regions to receive alerts for new offers in those areas. This level of customization ensures that users receive alerts only for offers that match their specific criteria, resulting in a more personalized experience.
    
        When a new offer is loaded onto the platform, the alert module quickly identifies the offer and checks if it matches the user-defined criteria. If the offer aligns with the selected universities, countries, or regions of interest, the module triggers the notification process.
      </div>
  
      <section class="content">
        <div class="row">
          <div class="row">
            <div class="col-md-6">
              <app-list-alert></app-list-alert>
            </div>
  
            <div class="col-md-6">
              <div class="card card-default">
                <app-add-alert></app-add-alert>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-12 mt-3 text-center">
              <p class="lead">
                <a href="contact-us.html">Contact us</a>, if you found not the
                right anwser or you have a other question?<br />
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <a
      href="#"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
  </body>
