<body>
    <section id="hero" class="hero d-flex align-items-center"></section>
  
    <div style="background-image: linear-gradient(rgb(222, 222, 222), #f5f8f9)">
      <div class="seven">
        <h1 class="alert">Claims</h1>
      </div>
      <div class="callout callout-info ms-3 me-3 mt-2 mb-10">
        <h5><i class="fas fa-info"></i> Note:</h5>
        
The claim module is a robust system designed to handle various types of claims, including technical problems, wrong information, and other related issues. Its purpose is to facilitate the process of submitting and managing claims within a specific context.
    
Users can submit claims by providing essential details, including a subject, description, type, and current state.
    
One of the key features of the claim module is the ability for administrators to respond to the submitted claims. This functionality enables effective communication between the administrators and the users, facilitating the resolution process.
      </div>
  
      <section class="content">
        <div class="row">
          <div class="row">
            <div class="col-md-6">
              <app-list-claim></app-list-claim>
            </div>
  
            <div class="col-md-6">
              <div class="card card-default">
                <app-add-claim></app-add-claim>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-12 mt-3 text-center">
              <p class="lead">
                <a href="contact-us.html">Contact us</a>, if you found not the
                right anwser or you have a other question?<br />
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  
    <a
      href="#"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
  </body>

